<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <hpmgw>
                <active>0</active>
                <public_key>s-pub-2a10ifVINFAjpQJ9qW8jBe5OJPBx6Gxa</public_key>
                <private_key>s-priv-2a102ZMq3gV4I3zJ888J7RR6u75oqK3n</private_key>
                <model>Heidelpay\MGW\Model\Method\Base</model>
                <logging>0</logging>
            </hpmgw>
            <hpmgw_cards>
                <active>0</active>
                <payment_action>order</payment_action>
                <order_payment_action>authorize</order_payment_action>
                <title><![CDATA[Cards]]></title>
                <allowspecific>0</allowspecific>
                <min_order_total>0</min_order_total>
                <max_order_total>0</max_order_total>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_order>1</can_order>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <model>Heidelpay\MGW\Model\Method\Cards</model>
            </hpmgw_cards>
            <hpmgw_direct_debit>
                <active>0</active>
                <payment_action>authorize_capture</payment_action>
                <order_payment_action>authorize_capture</order_payment_action>
                <title><![CDATA[Direct Debit]]></title>
                <allowspecific>0</allowspecific>
                <min_order_total>0</min_order_total>
                <max_order_total>0</max_order_total>
                <can_authorize>0</can_authorize>
                <can_capture>1</can_capture>
                <can_order>0</can_order>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <model>Heidelpay\MGW\Model\Method\DirectDebit</model>
            </hpmgw_direct_debit>
            <hpmgw_direct_debit_guaranteed>
                <active>0</active>
                <payment_action>authorize_capture</payment_action>
                <order_payment_action>authorize_capture</order_payment_action>
                <title><![CDATA[Direct Debit Guaranteed]]></title>
                <allowspecific>0</allowspecific>
                <min_order_total>0</min_order_total>
                <max_order_total>0</max_order_total>
                <country_restrictions>AT,CH,DE</country_restrictions>
                <can_authorize>0</can_authorize>
                <can_capture>1</can_capture>
                <can_order>0</can_order>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <model>Heidelpay\MGW\Model\Method\DirectDebitGuaranteed</model>
            </hpmgw_direct_debit_guaranteed>
            <hpmgw_flexipay_direct>
                <active>0</active>
                <payment_action>order</payment_action>
                <order_payment_action>authorize_capture</order_payment_action>
                <title><![CDATA[FlexiPay Direct]]></title>
                <allowspecific>0</allowspecific>
                <min_order_total>0</min_order_total>
                <max_order_total>0</max_order_total>
                <country_restrictions>AT,DE</country_restrictions>
                <can_authorize>0</can_authorize>
                <can_capture>1</can_capture>
                <can_order>1</can_order>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <model>Heidelpay\MGW\Model\Method\FlexipayDirect</model>
            </hpmgw_flexipay_direct>
            <hpmgw_ideal>
                <active>0</active>
                <payment_action>order</payment_action>
                <order_payment_action>authorize_capture</order_payment_action>
                <title><![CDATA[iDEAL]]></title>
                <allowspecific>0</allowspecific>
                <min_order_total>0</min_order_total>
                <max_order_total>0</max_order_total>
                <country_restrictions>NL</country_restrictions>
                <can_authorize>0</can_authorize>
                <can_capture>1</can_capture>
                <can_order>1</can_order>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <model>Heidelpay\MGW\Model\Method\Ideal</model>
            </hpmgw_ideal>
            <hpmgw_invoice>
                <active>0</active>
                <payment_action>authorize_capture</payment_action>
                <order_payment_action>authorize_capture</order_payment_action>
                <title><![CDATA[Invoice Simple]]></title>
                <allowspecific>0</allowspecific>
                <min_order_total>0</min_order_total>
                <max_order_total>0</max_order_total>
                <can_authorize>0</can_authorize>
                <can_order>0</can_order>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <after_shipment_state>payment_review</after_shipment_state>
                <pending_payment_state>processing</pending_payment_state>
                <model>Heidelpay\MGW\Model\Method\Invoice</model>
            </hpmgw_invoice>
            <hpmgw_invoice_guaranteed>
                <active>0</active>
                <payment_action>authorize_capture</payment_action>
                <order_payment_action>authorize_capture</order_payment_action>
                <title><![CDATA[Invoice Guaranteed]]></title>
                <allowspecific>0</allowspecific>
                <min_order_total>0</min_order_total>
                <max_order_total>0</max_order_total>
                <country_restrictions>AT,DE</country_restrictions>
                <can_authorize>0</can_authorize>
                <can_order>0</can_order>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <after_shipment_state>payment_review</after_shipment_state>
                <pending_payment_state>processing</pending_payment_state>
                <model>Heidelpay\MGW\Model\Method\InvoiceGuaranteed</model>
            </hpmgw_invoice_guaranteed>
            <hpmgw_invoice_guaranteed_b2b>
                <active>0</active>
                <payment_action>authorize_capture</payment_action>
                <order_payment_action>authorize_capture</order_payment_action>
                <title><![CDATA[Invoice Guaranteed B2B]]></title>
                <allowspecific>0</allowspecific>
                <min_order_total>0</min_order_total>
                <max_order_total>0</max_order_total>
                <country_restrictions>AT,DE</country_restrictions>
                <can_authorize>0</can_authorize>
                <can_order>0</can_order>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <after_shipment_state>payment_review</after_shipment_state>
                <pending_payment_state>processing</pending_payment_state>
                <model>Heidelpay\MGW\Model\Method\InvoiceGuaranteedB2b</model>
            </hpmgw_invoice_guaranteed_b2b>
            <hpmgw_paypal>
                <active>0</active>
                <payment_action>order</payment_action>
                <order_payment_action>authorize</order_payment_action>
                <title><![CDATA[PayPal]]></title>
                <allowspecific>0</allowspecific>
                <min_order_total>0</min_order_total>
                <max_order_total>0</max_order_total>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_order>1</can_order>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <model>Heidelpay\MGW\Model\Method\Paypal</model>
            </hpmgw_paypal>
            <hpmgw_sofort>
                <active>0</active>
                <payment_action>order</payment_action>
                <order_payment_action>authorize_capture</order_payment_action>
                <title><![CDATA[Sofort]]></title>
                <allowspecific>0</allowspecific>
                <min_order_total>0</min_order_total>
                <max_order_total>0</max_order_total>
                <can_authorize>0</can_authorize>
                <can_capture>1</can_capture>
                <can_order>1</can_order>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <country_restrictions>AT,BE,CH,DE,ES,GB,IT,NL,PL</country_restrictions>
                <model>Heidelpay\MGW\Model\Method\Sofort</model>
            </hpmgw_sofort>
        </payment>
    </default>
</config>
