<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Heidelpay\MGW\Api\CheckoutInterface" type="Heidelpay\MGW\Api\Checkout"/>

    <virtualType name="Heidelpay\MGW\Logger\Logger" type="\Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">heidelpay_logger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Heidelpay\MGW\Model\Logger\Handler\Debug</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Heidelpay\MGW\Model\Logger\DebugHandler">
        <arguments>
            <argument name="logger" xsi:type="object">Heidelpay\MGW\Logger\Logger</argument>
        </arguments>
    </type>

    <virtualType name="HeidelpayMGWValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="country" xsi:type="string">Heidelpay\MGW\Model\Validator\CountryRestrictionValidator</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="HeidelpayMGWAuthorizeAndCaptureCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">Heidelpay\MGW\Model\Command\Authorize</item>
                <item name="cancel" xsi:type="string">Heidelpay\MGW\Model\Command\Cancel</item>
                <item name="capture" xsi:type="string">Heidelpay\MGW\Model\Command\Capture</item>
                <item name="order" xsi:type="string">Heidelpay\MGW\Model\Command\Order</item>
                <item name="refund" xsi:type="string">Heidelpay\MGW\Model\Command\Cancel</item>
                <item name="void" xsi:type="string">Heidelpay\MGW\Model\Command\Cancel</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="HeidelpayMGWCaptureCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="cancel" xsi:type="string">Heidelpay\MGW\Model\Command\Cancel</item>
                <item name="capture" xsi:type="string">Heidelpay\MGW\Model\Command\Capture</item>
                <item name="order" xsi:type="string">Heidelpay\MGW\Model\Command\Order</item>
                <item name="refund" xsi:type="string">Heidelpay\MGW\Model\Command\Cancel</item>
                <item name="void" xsi:type="string">Heidelpay\MGW\Model\Command\Cancel</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- must be configured to avoid DI compilation errors since Base is interpreted as a normal payment method
         and thus requires a configuration, even though it is not used as payment method -->
    <virtualType name="HeidelpayMGWBaseConfig" type="Heidelpay\MGW\Model\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Heidelpay\MGW\Model\Config::METHOD_BASE</argument>
        </arguments>
    </virtualType>

    <virtualType name="HeidelpayMGWBaseConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">HeidelpayMGWBaseConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="HeidelpayMGWBaseValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">HeidelpayMGWBaseConfigValueHandler</item>
                <item name="can_cancel" xsi:type="string">Heidelpay\MGW\Model\Config\CanVoidHandler</item>
                <item name="can_refund" xsi:type="string">Heidelpay\MGW\Model\Config\CanVoidHandler</item>
                <item name="can_void" xsi:type="string">Heidelpay\MGW\Model\Config\CanVoidHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Heidelpay\MGW\Model\Method\Base">
        <arguments>
            <argument name="code" xsi:type="const">Heidelpay\MGW\Model\Config::METHOD_BASE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">HeidelpayMGWBaseValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">HeidelpayMGWValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">HeidelpayMGWAuthorizeAndCaptureCommandPool</argument>
        </arguments>
    </type>

    <virtualType name="HeidelpayMGWCardsConfig" type="Heidelpay\MGW\Model\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Heidelpay\MGW\Model\Config::METHOD_CARDS</argument>
        </arguments>
    </virtualType>

    <virtualType name="HeidelpayMGWCardsConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">HeidelpayMGWCardsConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="HeidelpayMGWCardsValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">HeidelpayMGWCardsConfigValueHandler</item>
                <item name="can_cancel" xsi:type="string">Heidelpay\MGW\Model\Config\CanVoidHandler</item>
                <item name="can_refund" xsi:type="string">Heidelpay\MGW\Model\Config\CanVoidHandler</item>
                <item name="can_void" xsi:type="string">Heidelpay\MGW\Model\Config\CanVoidHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Heidelpay\MGW\Model\Method\Cards">
        <arguments>
            <argument name="code" xsi:type="const">Heidelpay\MGW\Model\Config::METHOD_CARDS</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">HeidelpayMGWCardsValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">HeidelpayMGWValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">HeidelpayMGWAuthorizeAndCaptureCommandPool</argument>
        </arguments>
    </type>

    <virtualType name="HeidelpayMGWDirectDebitConfig" type="Heidelpay\MGW\Model\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Heidelpay\MGW\Model\Config::METHOD_DIRECT_DEBIT</argument>
        </arguments>
    </virtualType>

    <virtualType name="HeidelpayMGWDirectDebitConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">HeidelpayMGWDirectDebitConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="HeidelpayMGWDirectDebitValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">HeidelpayMGWDirectDebitConfigValueHandler</item>
                <item name="can_cancel" xsi:type="string">Heidelpay\MGW\Model\Config\CanVoidHandler</item>
                <item name="can_refund" xsi:type="string">Heidelpay\MGW\Model\Config\CanVoidHandler</item>
                <item name="can_void" xsi:type="string">Heidelpay\MGW\Model\Config\CanVoidHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Heidelpay\MGW\Model\Method\DirectDebit">
        <arguments>
            <argument name="code" xsi:type="const">Heidelpay\MGW\Model\Config::METHOD_DIRECT_DEBIT</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">HeidelpayMGWDirectDebitValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">HeidelpayMGWValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">HeidelpayMGWCaptureCommandPool</argument>
        </arguments>
    </type>

    <virtualType name="HeidelpayMGWDirectDebitGuaranteedConfig" type="Heidelpay\MGW\Model\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Heidelpay\MGW\Model\Config::METHOD_DIRECT_DEBIT_GUARANTEED</argument>
        </arguments>
    </virtualType>

    <virtualType name="HeidelpayMGWDirectDebitGuaranteedConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">HeidelpayMGWDirectDebitGuaranteedConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="HeidelpayMGWDirectDebitGuaranteedValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">HeidelpayMGWDirectDebitGuaranteedConfigValueHandler</item>
                <item name="can_cancel" xsi:type="string">Heidelpay\MGW\Model\Config\CanVoidHandler</item>
                <item name="can_refund" xsi:type="string">Heidelpay\MGW\Model\Config\CanVoidHandler</item>
                <item name="can_void" xsi:type="string">Heidelpay\MGW\Model\Config\CanVoidHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Heidelpay\MGW\Model\Method\DirectDebitGuaranteed">
        <arguments>
            <argument name="code" xsi:type="const">Heidelpay\MGW\Model\Config::METHOD_DIRECT_DEBIT_GUARANTEED</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">HeidelpayMGWDirectDebitGuaranteedValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">HeidelpayMGWValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">HeidelpayMGWCaptureCommandPool</argument>
        </arguments>
    </type>

    <virtualType name="HeidelpayMGWFlexipayDirectConfig" type="Heidelpay\MGW\Model\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Heidelpay\MGW\Model\Config::METHOD_FLEXIPAY_DIRECT</argument>
        </arguments>
    </virtualType>

    <virtualType name="HeidelpayMGWFlexipayDirectConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">HeidelpayMGWFlexipayDirectConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="HeidelpayMGWFlexipayDirectValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">HeidelpayMGWFlexipayDirectConfigValueHandler</item>
                <item name="can_cancel" xsi:type="string">Heidelpay\MGW\Model\Config\CanVoidHandler</item>
                <item name="can_refund" xsi:type="string">Heidelpay\MGW\Model\Config\CanVoidHandler</item>
                <item name="can_void" xsi:type="string">Heidelpay\MGW\Model\Config\CanVoidHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Heidelpay\MGW\Model\Method\FlexipayDirect">
        <arguments>
            <argument name="code" xsi:type="const">Heidelpay\MGW\Model\Config::METHOD_FLEXIPAY_DIRECT</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">HeidelpayMGWFlexipayDirectValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">HeidelpayMGWValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">HeidelpayMGWCaptureCommandPool</argument>
        </arguments>
    </type>

    <virtualType name="HeidelpayMGWIdealConfig" type="Heidelpay\MGW\Model\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Heidelpay\MGW\Model\Config::METHOD_IDEAL</argument>
        </arguments>
    </virtualType>

    <virtualType name="HeidelpayMGWIdealConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">HeidelpayMGWIdealConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="HeidelpayMGWIdealValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">HeidelpayMGWIdealConfigValueHandler</item>
                <item name="can_cancel" xsi:type="string">Heidelpay\MGW\Model\Config\CanVoidHandler</item>
                <item name="can_refund" xsi:type="string">Heidelpay\MGW\Model\Config\CanVoidHandler</item>
                <item name="can_void" xsi:type="string">Heidelpay\MGW\Model\Config\CanVoidHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Heidelpay\MGW\Model\Method\Ideal">
        <arguments>
            <argument name="code" xsi:type="const">Heidelpay\MGW\Model\Config::METHOD_IDEAL</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">HeidelpayMGWIdealValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">HeidelpayMGWValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">HeidelpayMGWCaptureCommandPool</argument>
        </arguments>
    </type>

    <virtualType name="HeidelpayMGWInvoiceConfig" type="Heidelpay\MGW\Model\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Heidelpay\MGW\Model\Config::METHOD_INVOICE</argument>
        </arguments>
    </virtualType>

    <virtualType name="HeidelpayMGWInvoiceConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">HeidelpayMGWInvoiceConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="HeidelpayMGWInvoiceValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">HeidelpayMGWInvoiceConfigValueHandler</item>
                <item name="can_cancel" xsi:type="string">Heidelpay\MGW\Model\Config\CanVoidHandler</item>
                <item name="can_refund" xsi:type="string">Heidelpay\MGW\Model\Config\CanVoidHandler</item>
                <item name="can_void" xsi:type="string">Heidelpay\MGW\Model\Config\CanVoidHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Heidelpay\MGW\Model\Method\Invoice">
        <arguments>
            <argument name="code" xsi:type="const">Heidelpay\MGW\Model\Config::METHOD_INVOICE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Heidelpay\MGW\Block\Info\Invoice</argument>
            <argument name="valueHandlerPool" xsi:type="object">HeidelpayMGWInvoiceValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">HeidelpayMGWValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">HeidelpayMGWCaptureCommandPool</argument>
        </arguments>
    </type>

    <virtualType name="HeidelpayMGWInvoiceGuaranteedConfig" type="Heidelpay\MGW\Model\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Heidelpay\MGW\Model\Config::METHOD_INVOICE_GUARANTEED</argument>
        </arguments>
    </virtualType>

    <virtualType name="HeidelpayMGWInvoiceGuaranteedConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">HeidelpayMGWInvoiceGuaranteedConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="HeidelpayMGWInvoiceGuaranteedValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">HeidelpayMGWInvoiceGuaranteedConfigValueHandler</item>
                <item name="can_cancel" xsi:type="string">Heidelpay\MGW\Model\Config\CanVoidHandler</item>
                <item name="can_refund" xsi:type="string">Heidelpay\MGW\Model\Config\CanVoidHandler</item>
                <item name="can_void" xsi:type="string">Heidelpay\MGW\Model\Config\CanVoidHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Heidelpay\MGW\Model\Method\InvoiceGuaranteed">
        <arguments>
            <argument name="code" xsi:type="const">Heidelpay\MGW\Model\Config::METHOD_INVOICE_GUARANTEED</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Heidelpay\MGW\Block\Info\InvoiceGuaranteed</argument>
            <argument name="valueHandlerPool" xsi:type="object">HeidelpayMGWInvoiceGuaranteedValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">HeidelpayMGWValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">HeidelpayMGWCaptureCommandPool</argument>
        </arguments>
    </type>

    <virtualType name="HeidelpayMGWPaypalConfig" type="Heidelpay\MGW\Model\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Heidelpay\MGW\Model\Config::METHOD_PAYPAL</argument>
        </arguments>
    </virtualType>

    <virtualType name="HeidelpayMGWPaypalConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">HeidelpayMGWPaypalConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="HeidelpayMGWPaypalValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">HeidelpayMGWPaypalConfigValueHandler</item>
                <item name="can_cancel" xsi:type="string">Heidelpay\MGW\Model\Config\CanVoidHandler</item>
                <item name="can_refund" xsi:type="string">Heidelpay\MGW\Model\Config\CanVoidHandler</item>
                <item name="can_void" xsi:type="string">Heidelpay\MGW\Model\Config\CanVoidHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Heidelpay\MGW\Model\Method\Paypal">
        <arguments>
            <argument name="code" xsi:type="const">Heidelpay\MGW\Model\Config::METHOD_PAYPAL</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">HeidelpayMGWPaypalValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">HeidelpayMGWValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">HeidelpayMGWCaptureCommandPool</argument>
        </arguments>
    </type>

    <virtualType name="HeidelpayMGWSofortConfig" type="Heidelpay\MGW\Model\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Heidelpay\MGW\Model\Config::METHOD_SOFORT</argument>
        </arguments>
    </virtualType>

    <virtualType name="HeidelpayMGWSofortConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">HeidelpayMGWSofortConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="HeidelpayMGWSofortValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">HeidelpayMGWSofortConfigValueHandler</item>
                <item name="can_cancel" xsi:type="string">Heidelpay\MGW\Model\Config\CanVoidHandler</item>
                <item name="can_refund" xsi:type="string">Heidelpay\MGW\Model\Config\CanVoidHandler</item>
                <item name="can_void" xsi:type="string">Heidelpay\MGW\Model\Config\CanVoidHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Heidelpay\MGW\Model\Method\Sofort">
        <arguments>
            <argument name="code" xsi:type="const">Heidelpay\MGW\Model\Config::METHOD_SOFORT</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">HeidelpayMGWSofortValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">HeidelpayMGWValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">HeidelpayMGWAuthorizeAndCaptureCommandPool</argument>
        </arguments>
    </type>
</config>