<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data_unzer_cards">
        <observer name="unzer_cards_data_assign" instance="Unzer\PAPI\Model\Method\Observer\BaseDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_unzer_direct_debit">
        <observer name="unzer_direct_debit_data_assign" instance="Unzer\PAPI\Model\Method\Observer\BaseDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_unzer_direct_debit_secured">
        <observer name="unzer_direct_debit_secured_data_assign" instance="Unzer\PAPI\Model\Method\Observer\BaseDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_unzer_bank_transfer">
        <observer name="unzer_bank_transfer_data_assign" instance="Unzer\PAPI\Model\Method\Observer\BaseDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_unzer_ideal">
        <observer name="unzer_ideal_data_assign" instance="Unzer\PAPI\Model\Method\Observer\BaseDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_unzer_invoice">
        <observer name="unzer_invoice_data_assign" instance="Unzer\PAPI\Model\Method\Observer\BaseDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_unzer_invoice_secured">
        <observer name="unzer_invoice_secured_data_assign" instance="Unzer\PAPI\Model\Method\Observer\BaseDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_unzer_invoice_secured_b2b">
        <observer name="unzer_invoice_secured_b2b_data_assign" instance="Unzer\PAPI\Model\Method\Observer\BaseDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_unzer_paylater_invoice">
        <observer name="unzer_paylater_invoice_data_assign" instance="Unzer\PAPI\Model\Method\Observer\BaseDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_unzer_paylater_invoice_b2b">
        <observer name="unzer_paylater_invoice_b2b_data_assign" instance="Unzer\PAPI\Model\Method\Observer\BaseDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_unzer_paylater_installment">
        <observer name="unzer_paylater_installment_data_assign" instance="Unzer\PAPI\Model\Method\Observer\BaseDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_unzer_paylater_direct_debit">
        <observer name="unzer_paylater_direct_debit_data_assign" instance="Unzer\PAPI\Model\Method\Observer\BaseDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_unzer_paypal">
        <observer name="unzer_paypal_data_assign" instance="Unzer\PAPI\Model\Method\Observer\BaseDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_unzer_sofort">
        <observer name="unzer_sofort_data_assign" instance="Unzer\PAPI\Model\Method\Observer\BaseDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_unzer_giropay">
        <observer name="unzer_giropay_data_assign" instance="Unzer\PAPI\Model\Method\Observer\BaseDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_unzer_eps">
        <observer name="unzer_eps_data_assign" instance="Unzer\PAPI\Model\Method\Observer\BaseDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_unzer_alipay">
        <observer name="unzer_alipay_data_assign" instance="Unzer\PAPI\Model\Method\Observer\BaseDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_unzer_wechatpay">
        <observer name="unzer_wechatpay_data_assign" instance="Unzer\PAPI\Model\Method\Observer\BaseDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_unzer_przelewy24">
        <observer name="unzer_przelewy24_data_assign" instance="Unzer\PAPI\Model\Method\Observer\BaseDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_unzer_bancontact">
        <observer name="unzer_bancontact_data_assign" instance="Unzer\PAPI\Model\Method\Observer\BaseDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_unzer_prepayment">
        <observer name="unzer_prepayment_data_assign" instance="Unzer\PAPI\Model\Method\Observer\BaseDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_unzer_applepay">
        <observer name="unzer_applepay_data_assign" instance="Unzer\PAPI\Model\Method\Observer\BaseDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_unzer_applepayv2">
        <observer name="unzer_applepayv2_data_assign" instance="Unzer\PAPI\Model\Method\Observer\BaseDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_unzer_googlepay">
        <observer name="unzer_googlepay_data_assign" instance="Unzer\PAPI\Model\Method\Observer\BaseDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_unzer_twint">
        <observer name="unzer_twint_data_assign" instance="Unzer\PAPI\Model\Method\Observer\BaseDataAssignObserver" />
    </event>
</config>
