<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data_unzer_cards">
        <observer name="unzer_cards_data_assign" instance="Unzer\PAPI\Model\Method\Observer\BaseDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_unzer_direct_debit">
        <observer name="unzer_direct_debit_data_assign" instance="Unzer\PAPI\Model\Method\Observer\BaseDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_unzer_direct_debit_guaranteed">
        <observer name="unzer_direct_debit_guaranteed_data_assign" instance="Unzer\PAPI\Model\Method\Observer\BaseDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_unzer_flexipay_direct">
        <observer name="unzer_flexipay_direct_data_assign" instance="Unzer\PAPI\Model\Method\Observer\BaseDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_unzer_ideal">
        <observer name="unzer_ideal_data_assign" instance="Unzer\PAPI\Model\Method\Observer\BaseDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_unzer_invoice">
        <observer name="unzer_invoice_data_assign" instance="Unzer\PAPI\Model\Method\Observer\BaseDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_unzer_invoice_guaranteed">
        <observer name="unzer_invoice_guaranteed_data_assign" instance="Unzer\PAPI\Model\Method\Observer\BaseDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_unzer_invoice_guaranteed_b2b">
        <observer name="unzer_invoice_guaranteed_b2b_data_assign" instance="Unzer\PAPI\Model\Method\Observer\BaseDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_unzer_paypal">
        <observer name="unzer_paypal_data_assign" instance="Unzer\PAPI\Model\Method\Observer\BaseDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_unzer_sofort">
        <observer name="unzer_sofort_data_assign" instance="Unzer\PAPI\Model\Method\Observer\BaseDataAssignObserver" />
    </event>
</config>
