& when (@media-common = true) {
    // Fix for Magento's hover behaviour with Google Pay button
    .gpay-button {
        &:hover {
            &:not(:active),
            &:active {
                background: unset;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
                background-origin: content-box;
                border: 0;
            }
        }
        &:focus,
        &:active {
            background: unset;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            background-origin: content-box;
            border: 0;
        }
    }

    .table-wrapper.my-credit-cards table {
        width: 100%;
        border-collapse: collapse;
    }

    .table-wrapper.my-credit-cards th.card-number,
    .table-wrapper.my-credit-cards td.card-number { width: 30%; }

    .table-wrapper.my-credit-cards th.card-expire,
    .table-wrapper.my-credit-cards td.card-expire { width: 30%; }

    .table-wrapper.my-credit-cards th.card-type,
    .table-wrapper.my-credit-cards td.card-type { width: 20%; }

    .table-wrapper.my-credit-cards th.actions,
    .table-wrapper.my-credit-cards td.actions { width: 20%; }
}
