<div class="payment-method" data-bind="
    afterRender: initializeForm(),
    css: {'_active': (getCode() == isChecked())}
">
    <div class="payment-method-title field choice">
        <input class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"
               name="payment[method]"
               type="radio"/>
        <label class="label" data-bind="attr: {'for': getCode()}"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content">
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <unzer-payment disableCTP>
            <unzer-card></unzer-card>
        </unzer-payment>
        <unzer-checkout id="unzer-checkout">
            <button id="unzer-pay-button" class="button action primary checkout"
                    data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed() || !allTermsChecked()},
                        enable: (getCode() == isChecked())
                        "
                    type="submit">
                <span data-bind="i18n: 'Place Order'"></span>
            </button>
        </unzer-checkout>
    </div>
</div>
