<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route frontName="unzer" id="unzer">
            <module name="Unzer_PAPI"/>
        </route>
        <route id="sales" frontName="sales">
            <module name="Unzer_PAPI" before="Magento_Sales"/>
        </route>
    </router>
</config>
