<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="hpg2" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>HPG2_PAYMENT</label>
                <comment>
                    <![CDATA[HPG2_ABOUT_US]]>
                </comment>
                <group id="global" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>HPG2_MAIN</label>
                    <field id="public_key" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Public Key</label>
                        <config_path>payment/hpg2/public_key</config_path>
                    </field>
                    <field id="private_key" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Private Key</label>
                        <config_path>payment/hpg2/private_key</config_path>
                    </field>
                </group>
                <group id="creditcard" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>HPG2_CREDITCARD</label>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/hpg2_creditcard/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <config_path>payment/hpg2_creditcard/title</config_path>
                    </field>
                    <field id="payment_action" translate="label" type="select" sortOrder="25" showInDefault="1" showInWebsite="1">
                        <label>Payment Action</label>
                        <config_path>payment/hpg2_creditcard/payment_action</config_path>
                        <source_model>Heidelpay\Gateway2\Model\System\Config\Source\PaymentAction</source_model>
                    </field>
                    <field id="allowspecific" translate="label" type="allowspecific" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment from Applicable Countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <config_path>payment/hpg2_creditcard/allowspecific</config_path>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment from Specific Countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <config_path>payment/hpg2_creditcard/specificcountry</config_path>
                    </field>
                    <field id="min_order_total" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Minimum Order Total</label>
                        <config_path>payment/hpg2_creditcard/min_order_total</config_path>
                    </field>
                    <field id="max_order_total" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Maximum Order Total</label>
                        <config_path>payment/hpg2_creditcard/max_order_total</config_path>
                        <comment>Insert 0 to disable limit.</comment>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Sort Order</label>
                        <config_path>payment/hpg2_creditcard/sort_order</config_path>
                    </field>
                </group>
                <group id="flexipay_direct" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>HPG2_FLEXIPAY_DIRECT</label>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/hpg2_flexipay_direct/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <config_path>payment/hpg2_flexipay_direct/title</config_path>
                    </field>
                    <field id="allowspecific" translate="label" type="allowspecific" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment from Applicable Countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <config_path>payment/hpg2_flexipay_direct/allowspecific</config_path>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment from Specific Countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <config_path>payment/hpg2_flexipay_direct/specificcountry</config_path>
                    </field>
                    <field id="min_order_total" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Minimum Order Total</label>
                        <config_path>payment/hpg2_flexipay_direct/min_order_total</config_path>
                    </field>
                    <field id="max_order_total" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Maximum Order Total</label>
                        <config_path>payment/hpg2_flexipay_direct/max_order_total</config_path>
                        <comment>Insert 0 to disable limit.</comment>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Sort Order</label>
                        <config_path>payment/hpg2_flexipay_direct/sort_order</config_path>
                    </field>
                </group>
                <group id="paypal" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>HPG2_PAYPAL</label>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/hpg2_paypal/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <config_path>payment/hpg2_paypal/title</config_path>
                    </field>
                    <field id="payment_action" translate="label" type="select" sortOrder="25" showInDefault="1" showInWebsite="1">
                        <label>Payment Action</label>
                        <config_path>payment/hpg2_paypal/payment_action</config_path>
                        <source_model>Heidelpay\Gateway2\Model\System\Config\Source\PaymentAction</source_model>
                    </field>
                    <field id="allowspecific" translate="label" type="allowspecific" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment from Applicable Countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <config_path>payment/hpg2_paypal/allowspecific</config_path>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment from Specific Countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <config_path>payment/hpg2_paypal/specificcountry</config_path>
                    </field>
                    <field id="min_order_total" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Minimum Order Total</label>
                        <config_path>payment/hpg2_paypal/min_order_total</config_path>
                    </field>
                    <field id="max_order_total" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Maximum Order Total</label>
                        <config_path>payment/hpg2_paypal/max_order_total</config_path>
                        <comment>Insert 0 to disable limit.</comment>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Sort Order</label>
                        <config_path>payment/hpg2_paypal/sort_order</config_path>
                    </field>
                </group>
                <group id="sofort" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>HPG2_SOFORT</label>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/hpg2_sofort/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <config_path>payment/hpg2_sofort/title</config_path>
                    </field>
                    <field id="allowspecific" translate="label" type="allowspecific" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment from Applicable Countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <config_path>payment/hpg2_sofort/allowspecific</config_path>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment from Specific Countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <config_path>payment/hpg2_sofort/specificcountry</config_path>
                    </field>
                    <field id="min_order_total" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Minimum Order Total</label>
                        <config_path>payment/hpg2_sofort/min_order_total</config_path>
                    </field>
                    <field id="max_order_total" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Maximum Order Total</label>
                        <config_path>payment/hpg2_sofort/max_order_total</config_path>
                        <comment>Insert 0 to disable limit.</comment>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Sort Order</label>
                        <config_path>payment/hpg2_sofort/sort_order</config_path>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
