<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="unzer" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>UNZER_PAYMENTS</label>
                <group id="info" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>UNZER_INFO_LABEL</label>
                    <field id="version" translate="label" type="note" sortOrder="1" showInDefault="1" showInWebsite="1"
                           showInStore="1" canRestore="0">
                        <label>MODULE_VERSION_LABEL</label>
                        <frontend_model>Unzer\PAPI\Block\System\Config\Version</frontend_model>
                    </field>
                    <field id="about_unzer" translate="label" type="note" sortOrder="1" showInDefault="1"
                           showInWebsite="1" showInStore="1" canRestore="0">
                        <label>ABOUT_UNZER_LABEL</label>
                        <frontend_model>Unzer\PAPI\Block\System\Config\AboutUs</frontend_model>
                    </field>
                </group>
                <group id="global" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>UNZER_MAIN</label>
                    <field id="public_key" translate="label" type="text" sortOrder="10" showInDefault="1"
                           showInWebsite="0" showInStore="1">
                        <label>Public Key</label>
                        <config_path>payment/unzer/public_key</config_path>
                    </field>
                    <field id="private_key" translate="label" type="text" sortOrder="20" showInDefault="1"
                           showInWebsite="0" showInStore="1">
                        <label>Private Key</label>
                        <config_path>payment/unzer/private_key</config_path>
                    </field>
                    <field id="webhooks" translate="label" type="button" sortOrder="30" showInDefault="1"
                           showInWebsite="0" showInStore="1">
                        <label>Webhooks</label>
                        <frontend_model>Unzer\PAPI\Block\System\Config\WebhooksButtons</frontend_model>
                    </field>
                    <field id="logging" translate="label,comment" type="select" sortOrder="50" showInDefault="1"
                           showInWebsite="1" showInStore="1">
                        <label>Logging and Debugging</label>
                        <comment>The SDK provides error and debug information which you can catch and write to your
                            log.
                        </comment>
                        <config_path>payment/unzer/logging</config_path>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                </group>
                <include path="Unzer_PAPI::system/credit_card.xml"/>
                <include path="Unzer_PAPI::system/direct_debit.xml"/>
                <include path="Unzer_PAPI::system/direct_debit_secured.xml"/>
                <include path="Unzer_PAPI::system/bank_transfer.xml"/>
                <include path="Unzer_PAPI::system/ideal.xml"/>
                <include path="Unzer_PAPI::system/invoice.xml"/>
                <include path="Unzer_PAPI::system/invoice_secured.xml"/>
                <include path="Unzer_PAPI::system/invoice_secured_b2b.xml"/>
                <include path="Unzer_PAPI::system/paylater_invoice.xml"/>
                <include path="Unzer_PAPI::system/paylater_invoice_b2b.xml"/>
                <include path="Unzer_PAPI::system/paylater_installment.xml"/>
                <include path="Unzer_PAPI::system/paylater_direct_debit.xml"/>
                <include path="Unzer_PAPI::system/paypal.xml"/>
                <include path="Unzer_PAPI::system/sofort.xml"/>
                <include path="Unzer_PAPI::system/giropay.xml"/>
                <include path="Unzer_PAPI::system/eps.xml"/>
                <include path="Unzer_PAPI::system/alipay.xml"/>
                <include path="Unzer_PAPI::system/wechatpay.xml"/>
                <include path="Unzer_PAPI::system/przelewy24.xml"/>
                <include path="Unzer_PAPI::system/bancontact.xml"/>
                <include path="Unzer_PAPI::system/prepayment.xml"/>
                <include path="Unzer_PAPI::system/applepay.xml"/>
                <include path="Unzer_PAPI::system/googlepay.xml"/>
            </group>
        </section>
    </system>
</config>
